<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="nav">
        <a href="index.html"><div class="logo"></div></a>
        <ul class="menu">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="blog.html">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
        <div class="footerTop">
            <div class="footermenu">
                <ul class="menu">
                    <li><a href="#">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
                <ul class="socialmedia">
                    <li><a href="#"><img src="assets/images/icon-fb.svg" alt="" srcset=""></a></li>
                    <li><a href="#"><img src="assets/images/icon-ig.svg" alt="" srcset=""></a></li>
                    <li><a href="#"><img src="assets/images/icon-line.svg" alt="" srcset=""></a></li>
                </ul>
            </div>
            <div class="maincontact">
                <ul class="maincontactList">
                    <li class="maincontactListPhone"><a href="tel:+">0800-000-000</a></li>
                    <li class="maincontactListEmail"><a href="mailto:">glasses@business.com</a></li>
                </ul>
            </div>
        </div>
        <div class="tandc">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="menu">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
